server:
  port: 8080

spring:
  application:
    name: inventory-management-app

  # Default profile (you can change this)
  profiles:
    active: dev

  datasource:
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: SupabaseHikariPool
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000
      connection-timeout: 30000
      auto-commit: false

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

logging:
  level:
    root: INFO
